<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quanlykho">
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyKho">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.quanlykho"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity
            android:name=".feature.exporthistory.ExportHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".feature.export.ExportActivity"
            android:exported="false" />
        <activity android:name=".feature.receipthistory.ReceiptHistoryActivity"></activity>
        <activity android:name=".feature.supplies.SuppliesActivity"></activity>
        <activity android:name=".feature.warehouse.WarehouseActivity"></activity>
        <activity
            android:name=".feature.receipt.ReceiptActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.dashboard.DashboardActivity"
            android:theme="@style/Theme.QuanLyKho.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:theme="@style/Theme.QuanLyKho.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>